<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="{{csp}}">
  <title>Migrate Project</title>
  {{baseCssLink}}
  {{cssLink}}
  <script nonce="{{nonce}}">
    window.__ATOPILE_API_URL__ = {{apiUrlJson}};
    window.__ATOPILE_WS_URL__ = {{wsOriginJson}};
    window.__ATOPILE_MIGRATE_PROJECT__ = {{projectRootJson}};
  </script>
</head>
<body>
  <div id="root"></div>
  <script nonce="{{nonce}}" type="module" src="{{jsUri}}"></script>
</body>
</html>
